six
psutil==5.4.5
h5py==2.7.1
numpy==1.13.3
pandas
scipy==1.0.0
python==2.7.5sklearn
tensorflow==1.10.0
Keras==1.2.2
ipython
jupyter
matplotlib
ggplot
plotly
seaborn
IPython
jupyter
tensorboard==1.10.0
wordcloud
opencv-python
nltk