{% extends 'layout.html' %}
{% block body %}

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>

    <div class="center">
        <article>
            <img src="{{ url_for('static', filename='intro.PNG') }}" alt="model introduction" style="width=30%;height=30%"/>
            <img src="{{ url_for('static', filename='benchmark.PNG') }}" alt="model benchmark" style="width=30%;height=30%"/>        
        </article>
    </div>
          
          
{% endblock %}
